.flex-container{
	display: flex;
	border: 1px solid black;
	max-width: 400px;
	margin: 0px;
	margin-bottom: 10px;
}

.flex-item{
	background-color: blueviolet;
	margin: 5px;
	color: white;
	text-align: center;
} 

.flex-start{
	justify-content: flex-start;
}

.flex-end{
	justify-content: flex-end;
}

.center{
	justify-content: center;
}

.space-between{
	justify-content: space-between;
}

.space-around{
	justify-content: space-around;
}