.flex-container{
	display: flex;
	border: 1px solid black;
	max-width: 350px;
	/*margin: 0px;
	margin-bottom: 10px;*/
}

.flex-item{
	background-color: blueviolet;
	margin: 5px;
	color: white;
	text-align: center;
	flex: 1;
} 

.alicenter{
	align-items: center;
}

.stretch{
	align-items: stretch;
}

.start{
	align-items: flex-start;
}

.end{
	align-items: flex-end;
}

.baseline{
	align-items: baseline;
}

.column{
	flex-direction: column;
}

.central{
	height: 300px;
	justify-content: center;
	align-items: center;
}
.central .flex-item{
	flex: 0;
	padding: 20px;
}